<a href="https://colab.research.google.com/github/pedroagreda/TMD/blob/master/ApuntesIntro1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
#Introducción a Phyton
#Basics
person = 2;
print(a)
#Strings
a1="Agreda"
a2="Jimenez"
#Tipo de parametro que es
print(type(a2))
print(type(3))
print(type(3.))
#Operaciones con Strings
print(str1[0:5])
str3= 'This is a question'
str3=str3.replace('i', 'o')
str3=str3.lower()
print(str1.upper())
print(str3[0:3])
print(str1 + str2)
print(str1[0:5])
print(len(str1))
#Listas (empiezan posición 0)
list1 = ['student', 'teacher', 1997, 2000]
print(list1)
list2 = [1, 2, 3, 4, 5]
print(list2)

23
Agreda
<class 'str'>
<class 'int'>
<class 'float'>